/* Footer: ©All rights Reserved. Author:Ted Cruz */

footer{
    display:flex;
    flex-direction: row-reverse;
    position: relative;
    top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}