/* Carrito */

.carrito{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #080927;
}

.carrito__lista{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    list-style-type: none;
    gap: map-get($spacing, "spacing-l" );
    max-width: 120rem;
    margin: 0 10%;
    padding: 0;
}

.carrito__item{
    display: flex;
}

.carrito__imagenes{
    @extend .carrito__item;
    justify-content: center;
    list-style-type: none;
    @include sizes (18rem,18rem);
    border-style: solid;
    padding: 0.6rem;
    border-width: 0.3rem;
    border-radius: 15%;
    background-color:#DFE0E2;
}

.carrito__text{
    @extend .carrito__item;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrito__name{
    @extend .carrito__item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    font-size: 2rem;
    color: #080927;
}

.carrito__descripcion{
    @extend .carrito__item;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #080927;
    margin: 2.5% 5%;
}

.carrito__precio{
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-self: center;
}