/* Preguntas Frecunetes */

.preguntasFrecuentes{
    display: grid;
    max-width: 120rem;
    margin: auto
}

.preguntasFrecuentes__pregunta{
    justify-content: start;
    list-style-type: none;
    font-weight: 400;
    font-size: 3.4rem;
    margin: 0 10%;
    color: #FFFFFF;
}

.preguntasFrecuentes__respuesta{
    list-style-type: none;
    align-items: center;
    font-weight: 400;
    font-size: 2.4rem;
    margin: 1.5rem 10%;
    color: #080927;
}
