/* @for = used for iterations. Iterations are expressed with " #{$i} " , where "i" is the value that will iterate */

@for $i from 0 to 5 { /* Excludes 5 */
    .class:nth-last-of-type(#{$i}) {
        background-color: aquamarine;
    }
}

@for $i from 0 through 5 { /* Includes 5 */
    
}

/* @if @else if @else = apply properties if conditions are met. "==" = is the same as. "!=" = is different from. "<" or ">" = greater and less than. */

@if expr {

}@else if expr {

}@else if expr {
    
}@else {

}

/* @each = chances variables from a chosen list */

@each $var in list {
    
}

/* MAPS */

$animales: (
    zorro: "naranja",
    perro: 'negro',
    guacamayo: 'multicolor'
);

/* MAPS Iterations = uses the "map.get($map, "key")" function where "animales" = $map, "zorro" = $key, "naranja" = value. */

@each $animal, $color in $animales{
    .btn--#{$animal} {
        background-color: $color;
    }
}


/* @extend = copy properties of extended class */
.btn {
    font-size: 2rem;
    margin: 0.5rem auto;
}

.btn--aceptar{
    @extend .btn;
    background-color: green;
}

.btn--cancelar{
    @extend .btn;
    background-color: red;
}

/* Mixins */

/* First create mixin */
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

/* Second call mixin with "@include [name]" */
.boss {
    @include sizes(500px, 50px);
}