/* HTML */

html{
    font-size: 62.5%;     /* em (depends on parent) & rem (depends on root font size) = 10px */
}

/* BODY */

body{
    background-color: #386B67;
    margin: 0;
}

section.login{
    display: flex;
    justify-content: right;
    max-width: 120rem;
}

#usuario{
    padding: 0.5rem;
    margin: 2rem;
    max-width: 14rem;
}

#password{
    padding: 0.5rem;
    margin: 2rem;
    max-width: 14rem;
}

#email{
    padding: 0.5rem;
    margin: 2rem;
    max-width: 14rem;
}

section.tiempo{
    display: flex;
    justify-content: right;
    max-width: 120rem;
}