/* COLORS */
$title-color: #080927;

/* SPACING */
$spacing:(
    spacing-xs: 0.5rem,
    spacing-s: 1rem,
    spacing-m: 1.5rem,
    spacing-l: 2rem,
);
/* GAPS */

/* FONT-FAMILY */

/* FONT SIZE */
$title-size: 4.2rem;

/* MARGINS */
